<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568908875647-lihvbs5i3hlpcai7q27ct9palcg490bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568908875647-lihvbs5i3hlpcai7q27ct9palcg490bj</string>
	<key>API_KEY</key>
	<string>AIzaSyCJLu2lxYolMxdHxKnuqPI2LA87x3_NDgI</string>
	<key>GCM_SENDER_ID</key>
	<string>568908875647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gapp.MinorityGame</string>
	<key>PROJECT_ID</key>
	<string>gappminoritygame</string>
	<key>STORAGE_BUCKET</key>
	<string>gappminoritygame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568908875647:ios:d5fba9ea5ce60155ad7c4a</string>
</dict>
</plist>